# Dependencies
node_modules/
package-lock.json

# Environment Variables
.env

# Build Output
dist/

# WhatsApp Auth Sessions & Sensitive Data
data/auth_info/
data/media/
data/*.sqlite
data/database.json

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db
